@media print, screen and (min-width: 768px) {
  ._sp {
    display: none;
  }
}

._pc {
  display: none;
}

@media print, screen and (min-width: 768px) {
  ._pc {
    display: block;
  }
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Hiragino Mincho Pro',serif;
}

a {
  color: #000000;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

header .header-fixed {
  background-color: #30613D;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 2;
}

header .header_logo {
  width: 150px;
  margin-left: 30px;
}

header .nav-btn {
  width: 52px;
  height: 30px;
  appearance: none;
  background: transparent;
  border: none;
  font: inherit;
  outline: none;
  position: relative;
  right: 30px;
}

@media print, screen and (min-width: 768px) {
  header .nav-btn {
    display: none;
  }
}

header .nav-btn.-active span {
  top: 0;
  bottom: 0;
  margin: auto;
  transition: transform 0.3s ease;
}

header .nav-btn.-active span:first-child {
  transform: rotate(45deg);
}

header .nav-btn.-active span:nth-child(2) {
  transform: rotate(45deg);
}

header .nav-btn.-active span:last-child {
  transform: rotate(-45deg);
}

header .nav-btn span {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
  display: block;
  transition: transform 0.3s ease;
}

header .nav-btn span:first-child {
  top: 0;
}

header .nav-btn span:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto;
}

header .nav-btn span:last-child {
  bottom: 0;
}

header .nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #000000CC;
  padding-top: 145px;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

@media print, screen and (min-width: 768px) {
  header .nav {
    width: initial;
    background-color: transparent;
    padding-top: 0;
    z-index: 3;
    left: inherit;
    right: 0;
    top: 38px;
    opacity: 1;
    visibility: visible;
  }
}

header .nav.-active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease;
}

header .header_list {
  list-style: none;
  text-align: center;
  padding-bottom: 45px;
}

@media print, screen and (min-width: 768px) {
  header .header_list {
    display: flex;
    margin-right: 40px;
    padding-bottom: 0;
  }
}

header .header_list .item + .item {
  margin-top: 20px;
}

@media print, screen and (min-width: 768px) {
  header .header_list .item + .item {
    margin-top: 0;
    margin-left: 20px;
  }
}

header .header_list a {
  color: white;
  font-size: 24px;
}

@media print, screen and (min-width: 768px) {
  header .header_list a {
    font-size: 18px;
  }
}

header .header_list .menu-item {
  padding-right: 30px;
}

.footer {
  background-color: #30613D;
  padding-top: 50px;
  padding-bottom: 30px;
  border-top: 1px solid #6E6E6E;
}

.footer .footer_list {
  text-align: center;
  display: flex;
  justify-content: center;
}

.footer .footer_list .footer_item {
  padding-right: 30px;
}

.footer .footer_list .footer_item a {
  font-size: 16px;
  color: white;
}

.footer .footer_logo {
  width: 188px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

.footer .copyright {
  text-align: center;
  font-size: 16px;
  color: white;
  padding-top: 20px;
}

.cmn-section.-black {
  background-color: #000;
}

.cmn-title {
  text-align: center;
}

.cmn-title .main {
  display: block;
  color: #fff;
  font-size: 32px;
}

.cmn-title .sub {
  display: block;
  color: #fff;
  font-size: 20px;
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
  text-transform: capitalize;
  margin-top: 34px;
}

@media print, screen and (min-width: 768px) {
  .cmn-title .sub {
    margin-top: 50px;
  }
}

.cmn-title .sub.-faq {
  text-transform: uppercase;
}

.cmn-link a {
  color: #fff;
  background-color: #B8860BEA;
  display: flex;
  width: 155px;
  height: 37px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 14px;
}

.home {
  background-image: url(../image/top-bg.png);
  background-position: center;
  background-size: cover;
  height: 674px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .home {
    background-image: url(../image/top-mv_sp.png);
  }
}

.home .home_title {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  text-align: center;
  font-size: 50px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .home .home_title {
    font-size: 36px;
  }
}

.features {
  padding: 80px;
}

.features .features-cont {
  padding-top: 60px;
}

.features .features-item-1 {
  color: #fff;
  display: flex;
  flex-flow: column-reverse;
  padding: 10px 0;
}

.features .features-item-1 + .features-item {
  padding-top: 60px;
}

@media print, screen and (min-width: 768px) {
  .features .features-item-1 + .features-item {
    padding-top: 0;
  }
}

@media print, screen and (min-width: 768px) {
  .features .features-item-1:nth-child(odd) {
    flex-flow: row-reverse;
  }
}

@media print, screen and (min-width: 768px) {
  .features .features-item-1:nth-child(odd) .image {
    margin-right: 40px;
  }
}

@media print, screen and (min-width: 768px) {
  .features .features-item-1:nth-child(odd) .text {
    margin-right: 40px;
  }
}

@media print, screen and (min-width: 768px) {
  .features .features-item-1:nth-child(even) {
    flex-flow: row;
  }
}

@media print, screen and (min-width: 768px) {
  .features .features-item-1:nth-child(even) .image {
    margin-left: 40px;
  }
}

@media print, screen and (min-width: 768px) {
  .features .features-item-1:nth-child(even) .text {
    margin-left: 40px;
  }
}

.features .features-item-1 .text {
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 40px;
  padding-bottom: 10px;
}

@media print, screen and (min-width: 768px) {
  .features .features-item-1 .text {
    flex: 1;
    padding-left: 0;
    padding-right: 0;
  }
}

.features .features-item-1 .title {
  color: #FFFFDD;
  font-size: 18px;
}

@media print, screen and (min-width: 768px) {
  .features .features-item-1 .title {
    font-size: 28px;
  }
}

.features .features-item-1 .sentence {
  margin-top: 50px;
  font-size: 16px;
}

@media print, screen and (min-width: 768px) {
  .features .features-item-1 .sentence {
    font-size: 18px;
  }
}

@media print, screen and (min-width: 768px) {
  .features .features-item-1 .image {
    width: 50%;
  }
}

.features .features-item-2 {
  color: #fff;
  display: flex;
  flex-flow: column-reverse;
  padding: 10px 0;
}

.features .features-item-2 + .features-item {
  padding-top: 60px;
}

@media print, screen and (min-width: 768px) {
  .features .features-item-2 + .features-item {
    padding-top: 0;
  }
}

@media print, screen and (min-width: 768px) {
  .features .features-item-2:nth-child(odd) {
    flex-flow: wrap-reverse;
  }
}

@media print, screen and (min-width: 768px) {
  .features .features-item-2:nth-child(odd) .image {
    margin-right: 40px;
  }
}

@media print, screen and (min-width: 768px) {
  .features .features-item-2:nth-child(odd) .text {
    margin-right: 40px;
  }
}

@media print, screen and (min-width: 768px) {
  .features .features-item-2:nth-child(even) {
    flex-flow: row;
  }
}

@media print, screen and (min-width: 768px) {
  .features .features-item-2:nth-child(even) .image {
    margin-left: 40px;
  }
}

@media print, screen and (min-width: 768px) {
  .features .features-item-2:nth-child(even) .text {
    margin-left: 40px;
  }
}

.features .features-item-2 .text {
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 40px;
  padding-bottom: 10px;
}

@media print, screen and (min-width: 768px) {
  .features .features-item-2 .text {
    flex: 1;
    padding-left: 0;
    padding-right: 0;
  }
}

.features .features-item-2 .title {
  color: #FFFFDD;
  font-size: 18px;
}

@media print, screen and (min-width: 768px) {
  .features .features-item-2 .title {
    font-size: 28px;
  }
}

.features .features-item-2 .sentence {
  margin-top: 50px;
  font-size: 16px;
}

@media print, screen and (min-width: 768px) {
  .features .features-item-2 .sentence {
    font-size: 18px;
  }
}

@media print, screen and (min-width: 768px) {
  .features .features-item-2 .image {
    width: 50%;
  }
}

.features .foatures-link {
  padding-top: 60px;
  text-align: center;
}

.features .foatures-link a {
  margin-left: auto;
  margin-right: auto;
}

.plan {
  padding-top: 80px;
}

.rec {
  padding-top: 60px;
}

.rec .rec-item {
  display: flex;
  flex-flow: column-reverse;
  border-radius: 8px;
  overflow: hidden;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
}

@media print, screen and (min-width: 768px) {
  .rec .rec-item {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.rec .rec-item .text {
  background-color: #fff;
  padding: 25px 25px 50px 25px;
}

.rec .rec-item .title {
  color: #333333;
}

.rec .rec-item .price {
  padding-top: 60px;
  color: #333333;
}

.rec .rec-item .price > span {
  color: #FF0000;
}

.service .service-wrap {
  padding-top: 80px;
}

@media print, screen and (min-width: 768px) {
  .service .service-wrap {
    padding-top: 100px;
  }
}

.service .service-list {
  padding-right: 40px;
  padding-left: 40px;
}

@media print, screen and (min-width: 768px) {
  .service .service-list {
    display: flex;
  }
}

.service .service-item {
  background-color: #F2F2F2;
  display: flex;
  flex-flow: column-reverse;
}

@media print, screen and (min-width: 768px) {
  .service .service-item {
    width: 32.5%;
  }
}

.service .service-item + .service-item {
  margin-top: 30px;
}

@media print, screen and (min-width: 768px) {
  .service .service-item + .service-item {
    margin-top: 0;
    margin-left: 20px;
  }
}

.service .service-item .text {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 50px;
}

.service .service-item .title {
  font-size: 28px;
  text-align: center;
}

.service .service-item .desc {
  padding-top: 40px;
  font-size: 18px;
}

.service .service-item .image {
  width: 160px;
  margin-left: auto;
  margin-right: auto;
}

.faq {
  padding-top: 80px;
  padding-bottom: 80px;
}

.faq .faq_con {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 60px;
}

.faq .faq_list {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.faq .faq_item a {
  background-color: #fff;
  display: block;
  border-bottom: 1px solid #E5E5E5;
  padding: 14px;
}

@media print, screen and (min-width: 768px) {
  .faq .faq_item a {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
}

.faq .faq_item .detail {
  border-bottom: 1px solid #E5E5E5;
  background-color: #F2F2F2;
  padding: 14px;
  display: none;
}

@media print, screen and (min-width: 768px) {
  .faq .faq_item .detail {
    padding: 25px 50px;
  }
}

.blog {
  padding-top: 50px;
}

.blog .blog-con {
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 50px;
}

@media print, screen and (min-width: 768px) {
  .blog .blog-con {
    margin-left: 70px;
    margin-right: 70px;
  }
}

.blog .blog-list {
  padding-top: 30px;
}

.blog .blog-list .blog-list-btn {
  display: flex;
  padding-top: 30px;
}

.blog .blog-list .blog-item {
  display: flex;
}

.blog .blog-list .blog-item + .blog-item {
  margin-top: 30px;
}

.blog .blog-list dt {
  color: white;
  font-size: 13px;
  background-color: #4D0000;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  width: 75px;
}

@media print, screen and (min-width: 768px) {
  .blog .blog-list dt {
    width: 157px;
    font-size: 14px;
  }
}

.blog .blog-list dd {
  flex: 1;
}

.blog .blog-list dd a {
  color: white;
  text-decoration: underline;
  font-size: 16px;
}

@media print, screen and (min-width: 768px) {
  .blog .blog-list dd a {
    font-size: 24px;
  }
}

.blog .blog-link {
  padding-top: 40px;
}

@media print, screen and (min-width: 768px) {
  .blog .blog-link {
    padding-top: 50px;
  }
}

.blog .blog-link a {
  margin-left: auto;
  margin-right: auto;
}

.taxonomy {
  color: white;
}

.single {
  color: white;
  font-size: 18px;
  padding: 50px;
}

.single h2 {
  font-size: 24px;
}

.page {
  background-image: url(../image/yuuhi.JPG);
  background-position: center;
  background-size: cover;
  height: 674px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .page {
    background-image: url(../image/top-mv_sp.png);
  }
}

.page_title {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  text-align: center;
  font-size: 50px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .page_title {
    font-size: 36px;
  }
}

.page-under {
  background-color: black;
  color: white;
  padding-top: 20px;
  padding-left: 30px;
  font-size: 18px;
}

.yoyaku {
  background-color: black;
  padding: 50px;
}

.yoyaku-wrap {
  margin: 30px auto;
  color: white;
}

.yoyaku-item {
  text-align: center;
  margin-top: 30px;
}

.yoyaku-item h2 {
  font-size: 24px;
}

.yoyaku-item p {
  font-size: 18px;
}

.wp-block-gallery {
  justify-content: center;
}

.btn1,
a.btn1 {
  color: #fff;
  background-color: #30613D;
  width: 300px;
  height: 50px;
}

.btn1,
a.btn1:hover {
  color: #fff;
  background: #30613D;
}

.ct-btn {
  text-align: center;
  margin: 20px;
}

.contact-wrap {
  color: white;
  margin-top: 50px;
}

.ct-place {
  margin: 20px auto;
  text-align: center;
}

.ct-name p {
  text-align: left;
  font-size: 18px;
}

.submit {
  margin-top: 30px;
}

.archive {
  background-color: black;
}

.single {
  background-color: black;
  color: white;
  margin-left: 50px;
}

.Form {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
}

@media screen and (max-width: 480px) {
  .Form {
    margin-top: 40px;
  }
}

.Form-Item {
  border-top: 1px solid #ddd;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .Form-Item {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-wrap: wrap;
  }
}

.Form-Item:nth-child(5) {
  border-bottom: 1px solid #ddd;
}

.Form-Item-Label {
  width: 100%;
  max-width: 248px;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 18px;
  color: #ddd;
}

@media screen and (max-width: 480px) {
  .Form-Item-Label {
    max-width: inherit;
    display: flex;
    align-items: center;
    font-size: 15px;
  }
}

.Form-Item-Label.isMsg {
  margin-top: 8px;
  margin-bottom: auto;
}

@media screen and (max-width: 480px) {
  .Form-Item-Label.isMsg {
    margin-top: 0;
  }
}

.Form-Item-Label-Required {
  border-radius: 6px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: #30613D;
  color: #fff;
  font-size: 14px;
}

@media screen and (max-width: 480px) {
  .Form-Item-Label-Required {
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 32px;
    font-size: 10px;
  }
}

.Form-Item-Input {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}

@media screen and (max-width: 480px) {
  .Form-Item-Input {
    margin-left: 0;
    margin-top: 18px;
    height: 40px;
    flex: inherit;
    font-size: 15px;
  }
}

.Form-Item-Textarea {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 216px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}

@media screen and (max-width: 480px) {
  .Form-Item-Textarea {
    margin-top: 18px;
    margin-left: 0;
    height: 200px;
    flex: inherit;
    font-size: 15px;
  }
}

.Form-Btn {
  border-radius: 6px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 280px;
  display: block;
  letter-spacing: 0.05em;
  background: #30613D;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

@media screen and (max-width: 480px) {
  .Form-Btn {
    margin-top: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 160px;
    font-size: 16px;
  }
}

.box_con form table tr .box_br {
  display: block;
}

.box_con form table tr select {
  border: 1px solid #97ae88;
}

.box_con form table tr label input {
  cursor: pointer;
  display: none;
  vertical-align: middle;
}

.box_con form table tr .radio02-input + label {
  padding-left: 23px;
  margin-right: 20px;
  position: relative;
}

.box_con form table tr .radio02-input + label:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #999;
  border-radius: 50%;
  transform: translateY(-50%);
}

.box_con form table tr .radio02-input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 3px;
  width: 12px;
  height: 12px;
  background: #97ae88;
  border-radius: 50%;
  transform: translateY(-50%);
}

.radio-c {
  color: white;
}

.radio_box {
  display: flex;
}

@media screen and (min-width: 500px) {
  .radio_box {
    margin-left: 40px;
  }
}

.wpcf7-response-output {
  color: white;
}
/*# sourceMappingURL=style.css.map */