.service {
    padding-top: 80px;
    @include overTop {
        padding-top: 100px;
    }
    .service_list {
        padding-left: 40px;
        padding-right: 40px;
        @include overTab {
            display: flex;
        }
    }

    .service_item {
        background-color: cl(lightgrey);
        display: flex;
        flex-flow: column-reverse;
        @include overTab {
            width: percentage(390 / 1200);
        }
        + .service_item {
            margin-top: 30px;
            @include overTab {
                margin-top: 0;
                margin-left: 20px;
            }
        }
        .text {
            padding-right: 20px;
            padding-left: 20px;
            padding-bottom: 50px;
        }
        .title {
            font-size: 28px;
            text-align: center;
        }
        .sentence {
            padding-top: 40px;
            font-size: 18px;
        }
        .image {
            width: 160px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}